.bgProductRedirect{
  
}
.productNameAndBrand{
    margin: 0 8px;
    
    padding: 12px 0;
}
.redirectContainer{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 0.95rem;
}
.redirectName{
    text-transform: uppercase;
   
    margin-right: 2px;
 
  opacity: 0.7;
}
.home{
    cursor: pointer;

}
.home:hover{
    text-decoration: underline;
    color: black;
}


.redirectIcon{
    margin-right: 2px;
    font-size: 0.9rem;
    color: var(--text-color);
    opacity: 0.7;
}
.body{
    margin: 0px 8px;
    padding: 24px 20px; 
    border-radius: 8px;
    border: 1px solid var(--border-color);
}
.footer{
    margin-top: 30px;
}
.footer p{
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9rem;
}
.infoRuleHeader{
    font-size: 1.4rem;
    margin: 10px 0 30px 0;
}

