.loginEvent h2 {
  font-size: 1rem;
}
.loginEvent:hover {
  opacity: 0.8;
  cursor: pointer;
}
.body{
  border: 1px solid var(--boder-color);
  padding: 10px;
}
.loginContainer {
  border-radius: 4px;
  padding: 12px;
  background-color: white;
}
.userControlIcon {
  color: black;
  cursor: pointer;
  margin: 0 20px;
  font-size: 1.4rem;
}
.loginContainer h1 {
  background-color: var(--border-color);
  color: black;
  font-size: 1.4rem;
  padding: 8px 0;
  text-transform: uppercase;
  text-align: center;
}

.textIntro {
  margin: 8px 0 20px;
  font-size: 0.85rem;
}
.loginButtonContainer {
  cursor: pointer;
 
  padding: 8px;
  width: 100%;
  margin: 24px 0;
  background-color: white;
  border-radius: 20px;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  border: 2px solid black;
  color: black;
  transition: all 0.4s;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.loginButtonContainer:hover {
  background-color: black;
  color: white;

}
/* .loginButtonContainer.loginWithFacebook {
  background-color: white;
  border-radius: 20px;
  border-radius: 2px solid var(--text-color);
  color: var(--text-color);
}
.loginButtonContainer.loginWithGoogle {
  background-color: white;
  border-radius: 20px;
  border-radius: 2px solid var(--text-color);
  color: var(--text-color);
} */
.iconLogin {
  margin-right: 16px;
  font-size: 1rem;
 
}
.textRule {
  text-align: center;
  margin-top: 60px;
  font-size: 0.9rem;

}
.linkRule {
  cursor: pointer;
  text-decoration: underline;
  color: var(--facebook-bg);
}
.detail{
  margin-top: 10px;
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--blur-color);
}
.detail p {
 
}
.detail span{
  cursor: pointer;
  text-decoration: underline;
  color: var(--facebook-bg);
}
